* {
  box-sizing: border-box;
}
.tesla-battery {
  width: 100%;
  margin: 0 auto;
  height: 65vw;
}

  

.tesla-climate-container {
  float: left;
  width: 420px;
  height: 150px;
  padding: 0 40px;
  margin: 0 40px 0 0;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;

}
.controlsContainer {
  display: block;
  width: 85vw;
  height: 130px;
  margin: -30px auto 10px auto;
}
