
 h1 {
  font-family: 'RobotoNormal';
    font-weight: 100;
    font-size: 38px;
    text-align: center;
    letter-spacing: 3px;
    color: white;
    padding-top: 10px;
} 

/* Stage */
.img {
  margin-top: -110px;
  height: 550px;
  width: 100%;
  position:absolute;
  z-index: -1;
}
/* Tesla Car */
.tesla {
  width: 1000px;
  min-height: 500px;
  background: url(../../assets/Images/BlackModelS.png) no-repeat top center;
  background-size: contain;
  background-position: center;
  display: block;
  margin: -90px auto 0 auto;
  animation: 1s ease-out 0s 1 slideInFromRight;
  /* background-image: url(../../assets/Images/ModelS.png); */
}

.tesla-wheels {
  width: 540px;
  position: relative;
  margin: 0 auto; 
}

.wheel {
  height: 90px;
  width: 90px;
  position: absolute;
  background-size: cover;
  margin-top: 305px; 
}
  .front {
    left: 18px; }
  .rear {
    right: 48px; }
  .wheel--19 {
    background-image: url(../../assets/Wheels/wheel-19.png);
    -webkit-animation: infinite-spinning 3000ms steps(8) infinite;
    -moz-animation: infinite-spinning 300ms steps(8) infinite;
    -o-animation: infinite-spinning 300ms steps(8) infinite;
    animation: infinite-spinning 300ms steps(8) infinite; 
  }
  .wheel--21 {
    background-image: url(../../assets/Wheels/wheel-21.png);
    -webkit-animation: infinite-spinning 480ms steps(12) infinite;
    -moz-animation: infinite-spinning 480ms steps(12) infinite;
    -o-animation: infinite-spinning 480ms steps(12) infinite;
    animation: infinite-spinning 480ms steps(12) infinite; 
  }

   @keyframes slideInFromRight {
     from {
       margin-left: 100%;
     }

     to {
       margin-left: 18%;
     }
   }
  /* ============================ */
  /* ============================ */
  /* ============================ */

  @media only screen and (max-width: 1024px) {
  h1 {
    display: block;
    font-weight: 300;
    font-size: 22px;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, 0.534);
    width: 90vw;
    padding: 5px 0;
  }
/* Stage */
.img {
  height: 400px;
}

   /* Tesla Car */
  .tesla {
    width: 100vw;
    min-height: 200px;     
    margin: 50px auto 0 auto;
  }

  .tesla-wheels {
    width: 296px;
    position: relative;
    margin: 0 auto;
  }

  .wheel {
    height: 36px;
    width: 36px;
    margin-top: 123px;
  }

  .front {
    left: 43px;
  }

  .rear {
    right: 56px;
  }


    @keyframes slideInFromRight {
      from {
        margin-left: 100%;
      }

      to {
        margin-left: 2%;
      }
    }
  }
@keyframes infinite-spinning {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } 
  }
@-webkit-keyframes infinite-spinning {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } 
  }

   
    