.counter {
  float: left;
  width: 260px; 
}
/* ============================= */
  .counterTitle {
    letter-spacing: 3px;
    font-size: 20px;
    margin: 5px 0 0 10px; 
  }
  /* ============================= */
  .counterContainer {
    margin: 15px 10px;
    width: 250px;
    box-shadow: 0px 1px 4px rgba(204, 204, 204, 1);
    border-radius: 5px;

  }

  /* ============================= */

  .counterNumber {
    font-family: 'RobotoNormal';
    font-size: 26px;
    line-height: 25px;
    font-weight: 400;
    position: relative; 
    margin: 10px 0 0 100px;
    width: 40px;
  }
  /* ============================= */

    .counterNumber span {
      position: absolute;
      left: 25px;
      font-size: 15px;
      text-transform: uppercase; 
      padding-left: 10px;
    }
    /* ============================= */

  .counterItem {
    position: relative;
    width: 250px;
    height: 90px;    
    display: inline-block;
    padding: 18px 0 0 30px;
    margin-right: 10px;
    background-color: #999;
    border-radius: 5px;


  }
  /* ============================= */

    .counterItem:focus {
      background-color: 999999;
      outline: none; 
    }
    /* ============================= */

  .counterControls {
    position: absolute;
    right: 180px;
    top: 10px;
    
  }
  /* ============================= */

    .counterControls button {
      outline: 0;
      width: 50px;
      cursor: pointer;
      display: block;
      padding: 15px 2px;
      margin: 2px;
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #cccccc;
      border-radius: 5px;
    }
    /* ============================= */

      .counterControls button[disabled] {
        opacity: 0.4;
        cursor: not-allowed; 
      }
      /* ============================= */

      .counterControls button:first-child {
        background-image: url(../../assets/counter/up.svg); 
      }
      /* ============================= */

      .counterControls button:last-child {
        background-image: url(../../assets/counter/down.svg); 
      }
      /* ============================= */

